<div class="container-fluid text-muted text-center p-4">
    <div class="d-flex align-items-center justify-content-center">
        <h1>Contatos</h1>
        <img src="person-circle.svg" alt="Bootstrap" width="40" height="40" class="ms-2">
    </div>
</div>
<div class="container-md border rounded p-5 shadow-sm bg-white">
    <div class="row mb-4">
        <div class="col d-flex justify-content-end"> 
            <button class="btn btn-success btn-lg" [routerLink]="['/newContact']">Novo Contato</button>
        </div>

    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="d-flex align-items-center">
                <img src="search.svg" alt="Search" width="32" height="32" class="me-2">
                <input type="text" class="form-control" placeholder="Pesquisar contatos...">
                <img src="funnel-fill.svg" alt="Search" width="32" height="32" class="ms-2 me-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Categorias</option>
                    <option value="1">PROFISSIONAL</option>
                    <option value="2">FAMILIAR</option>
                    <option value="3">EMERGENCIA</option>
                    <option value="4">ESCOLA</option>
                    <option value="5">AMIGO</option>
                    <option value="6">OUTROS</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let contact of contacts">
            <div class="card shadow-sm rounded-4 h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ contact.name }}</h5>
                    <h6 class="card-subtitle text-muted mb-2">{{ contact.email }}</h6>
                    <p class="card-text">
                        <strong>Telefone:</strong> {{ contact.phone }}<br />
                        <strong>Endereço:</strong> {{ contact.address || '-' }}<br />
                        <strong>Empresa:</strong> {{ contact.company || '-' }}<br />
                        <strong>Categoria:</strong> {{ contact.category || '-' }}<br />
                        <strong>Favorito:</strong> {{ contact.favorite ? 'Sim' : 'Não' }}<br />
                        <strong>Data de Nascimento:</strong> {{ contact.birthday ? (contact.birthday | date:
                        'dd/MM/yyyy') : '-' }}<br />
                        <strong>Cargo:</strong> {{ contact.title || '-' }}<br />
                        <button class="btn btn-danger mt-2" (click)="delete(contact)">Excluir</button>
                        <button class="btn btn-secondary mt-2 ms-2"
                            [routerLink]="['/Contacts', contact.id]">Editar</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>